In [46]:
import pandas as pd 
from sensor import utils
import numpy as np
from sensor.entity import artifact_entity

In [47]:
df.replace(to_replace = 'na', value = np.NAN , inplace = True)

In [48]:
null_report[null_report>0.2].index

Index([], dtype='object')

In [49]:
df

,_id,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,63a97b75cff12bdc6e6ad4ba,pos,153204,0,182,NaN,0,0,0,0,...,129862,26872,34044,22472,34362,0,0,0,0,0
1,63a97b75cff12bdc6e6ad4bb,pos,453236,NaN,2926,NaN,0,0,0,0,...,7908038,3026002,5025350,2025766,1160638,533834,493800,6914,0,0
2,63a97b75cff12bdc6e6ad4bc,pos,72504,NaN,1594,1052,0,0,0,244,...,1432098,372252,527514,358274,332818,284178,3742,0,0,0
3,63a97b75cff12bdc6e6ad4bd,pos,762958,NaN,NaN,NaN,NaN,NaN,776,281128,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63a97b75cff12bdc6e6ad4be,pos,695994,NaN,NaN,NaN,NaN,NaN,0,0,...,1397742,495544,361646,28610,5130,212,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36183,63a97b76cff12bdc6e6b6211,neg,153002,NaN,664,186,0,0,0,0,...,998500,566884,1290398,1218244,1019768,717762,898642,28588,0,0
36184,63a97b76cff12bdc6e6b6212,neg,2286,NaN,2130706538,224,0,0,0,0,...,10578,6760,21126,68424,136,0,0,0,0,0
36185,63a97b76cff12bdc6e6b6213,neg,112,0,2130706432,18,0,0,0,0,...,792,386,452,144,146,2622,0,0,0,0
36186,63a97b76cff12bdc6e6b6214,neg,80292,NaN,2130706432,494,0,0,0,0,...,699352,222654,347378,225724,194440,165070,802280,388422,0,0
36187,63a97b76cff12bdc6e6b6215,neg,40222,NaN,698,628,0,0,0,0,...,440066,183200,344546,254068,225148,158304,170384,158,0,0

In [53]:
null_cols = df.isna().sum()/df.shape[0]

In [54]:
null_cols[null_cols>0.2]

ab_000    0.770863
ad_000    0.254228
bk_000    0.381977
bl_000    0.451393
bm_000    0.655190
bn_000    0.727617
bo_000    0.765337
bp_000    0.787941
bq_000    0.805018
br_000    0.814110
cf_000    0.254228
cg_000    0.254228
ch_000    0.254228
co_000    0.254228
cr_000    0.770863
ct_000    0.235492
cu_000    0.235492
cv_000    0.235492
cx_000    0.235492
cy_000    0.235492
cz_000    0.235492
da_000    0.235492
db_000    0.235492
dc_000    0.235492
dtype: float64